[submodule "public"]
	path = public
	url = git@github.com:end2endzone/end2endzone.github.io.git
[submodule "themes/traceypooh.hugo-future-imperfect-slim"]
	path = themes/traceypooh.hugo-future-imperfect-slim
	url = https://github.com/traceypooh/hugo-future-imperfect-slim.git
[submodule "themes/pacollins.hugo-future-imperfect-slim"]
	path = themes/pacollins.hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/Hirashiki.hugo-future-imperfect-slim"]
	path = themes/Hirashiki.hugo-future-imperfect-slim
	url = https://github.com/Hirashiki/hugo-future-imperfect-slim.git
