[submodule "themes/pacollins.hugo-future-imperfect-slim"]
	path = themes/pacollins.hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/end2endzone.hugo-future-imperfect-slim"]
	path = themes/end2endzone.hugo-future-imperfect-slim
	url = https://github.com/end2endzone/hugo-future-imperfect-slim.git
