{{- /* collect all params once */ -}}
{{- $class   := .Get "class"      -}}
{{- $link    := .Get "link"       -}}
{{- $alt     := .Get "alt"        -}}
{{- $caption := .Get "caption"    -}}
{{- $src     := .Get "src"        -}}

<figure{{ if $class }} class="{{ $class }}"{{ end }}>
  {{- if $link }}
  <a href="{{ $link }}">
    <img src="{{ $src }}"{{ if $alt }} alt="{{ $alt }}"{{ end }}>
  </a>
  {{- else }}
  <img src="{{ $src }}"{{ if $alt }} alt="{{ $alt }}"{{ end }}>
  {{- end }}
  {{- if $caption }}
  <figcaption>{{ $caption }}</figcaption>
  {{- end }}
</figure>

